#title {
  margin-top: 50px;
  text-align: center;
}

#partOf {
  margin-top: 20px;
  margin-bottom: 20px;
}

#searchBar {
  width: 800px;
  border: 2px solid black;
}

body {
  background-color: rgb(240, 240, 240);
  height: 100vh;
}

.border {
  border: 2px solid black;
}

.search-wrap {
  display: flex;
  justify-content: space-between;
  
}

.button-wrap {
  margin-top: 10px;
  margin-right: 30px;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}

#audio-button {
  margin-bottom: 25px;
  // margin-top: ;
  // margin-left: ;
}

.bold-text {
  background-color: yellow;
}

.button {
  border: 2px solid black!important;
}
@media(max-width: 1407px) {
  .button-wrap {
    margin: 10px 0px 10px 15px;
  }
}

@media(max-width: 1215px) {
  .button-wrap {
    width: 400px;
  }
}

@media(max-width: 720px) {
  .search-wrap {
    display: block;
  }
  
  .button-wrap {
    margin: -10px 0px 12px 0px;
    width: Calc(100vw - 92px);
  }
}